<!DOCTYPE html>
<html ng-app="myModule">
<head>
  <title>2048</title>

  <!-- CSS -->
  <link href="2048.css" rel="stylesheet" media="screen">
  <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- JS libs -->
  <script type="text/javascript" src="jQuery-2.1.0.js"></script>
  <script type="text/javascript" src="angular.js"></script>
  <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

  <!-- JS source files -->
  <script type="text/javascript" src="2048.js"></script>

</head>

<body>
<div ng-controller="GameCtrl">
  <div class="score" ng-model="score">{{score}}</div>

  <div class="grid">
  <span class="row" ng-repeat="row in cells track by $index">
    <span class="cell value{{cell}} cell{{$parent.$index}}{{$index}}" ng-repeat="cell in row track by $index">
      {{cell}}
    </span>
  </span>
  </div>
<input type="text" ng-model="movementInput" ng-keypress="onKeyPressed($event)"/>
</div>
</body>
</html>
